<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="Lando" switchValue="All">
				<listeners>
					<add name="nlog" />
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="nlog" type="NLog.NLogTraceListener, NLog" />
		</sharedListeners>
	</system.diagnostics>
</configuration>